.tabs{
    background-color: red;
    width: 100%;
}

.container-fluid{
display: flex;
    flex-direction: row;
    width: 100%;
}

#card1{
    margin-left: auto;
    margin-right: auto;
}

#card2{
    margin-left: auto;
    margin-right: auto;
}

#card3{
    margin-left: auto;
    margin-right: auto;
}

