
.tab-headline {
    position: absolute;
    left: 50%;
    top: 50%;
}
.tab-headline p {

    border: 4px solid rgba(255,255,255,1);
    font-size: 100px;
    color: rgba(255,255,255,1);
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    margin: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: white;
    background:
            linear-gradient(90deg, #1e6ad5 50%,#000 0)
            var(--_p,100%)/200% no-repeat;
var(--.tab-headline,100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-clip: border-box;
    transition: .7s;
}
.tab-headline p:hover {
    /*
        color: rgba(239,74,74,1);
        border-top-color: rgba(239,74,74,1);
        border-right-color: rgba(239,74,74,1);
        border-bottom-color: rgba(239,74,74,1);
        border-left-color: rgba(239,74,74,1);
    */
    border: 4px solid rgba(55, 55, 55, 0.83);
    cursor: pointer;
    color: #373737;
    transition: 0.6s;
    --_p: 0%;
}