{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="display: flex;flex-wrap: nowrap;margin-bottom: 15px;width: 100%;margin-top:15px;justify-content: center" class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
