<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Confirmez-vous la suppresion du produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button style="width: 100%;margin-top: 15px;margin-bottom: 15px" class="btn btn-warning">Supprimer</button>
</form>
