
    <footer class="py-5" style="display: flex;
              background: rgb(78,52,102);
              margin-top: 0px;
              margin-bottom: 0px;
              height: 100%;
background: rgb(16,15,45);
background: linear-gradient(180deg, rgba(10,9,28,1) 0%, rgba(60,42,154,1) 52%, rgba(23,210,218,1) 70%, rgba(60,42,154,1) 100%);">

        <div class="row" style="
                height: 250px;
                text-align: center;
                display: flex;
                width: 100%;
                vertical-align: center;
                background: url({{ asset('assets/img/videos/GIF/colorfulbar.gif') }});
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 0px;
                padding: 0%;
                margin-top: 0px">
            <div class="col-2" >
                <h5 style="margin-top: 30px">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5 style="margin-top: 30px">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5 style="margin-top: 30px">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h5 style="margin-top: 30px">Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    </div>
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
