{{ form_start(form) }}
    {{ form_widget(form) }}

    <button style="margin-top: 20px;display: flex;align-content: center;align-items: center;justify-content: center"class="btn btn-success container-fluid">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
